* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 16px;
  margin: 0 auto;
  max-width: 1000px;
}

.square {
  flex-basis: 200px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  background-color: #1389b2;
}

.fizz {
  background-color: #0cd6a1;
}

.buzz {
  background-color: #ffd166;
}

.fizzbuzz {
  background-color: #f0466f;
}
